<br/>
<table id="PrTable" class="tablesorter">
<thead>
<tr>
  <th> Rank </th>
  <th> Team </th>
  <th> Conference </th>
  <th> Power Ranking </th>
</tr>
</thead>
<tbody>
<% Profile.user_profiles(current_user).order("power_ranking desc").map.with_index do |profile, index| %>
  <tr>
  <td><%= index + 1 %> </td>
  <td> <a href="<%=edit_team_profile_path(profile.team, profile)%>"> <%= profile.team.name %> </a> </td>
  <td> <%= profile.team.conference %> </td>
  <td class="rest-in-place" data-url="/teams/<%= profile.team_id %>/profiles/<%= profile.id %>" data-object="profile" data-attribute="power_ranking"> <%= profile.power_ranking %> </td>
  </tr>
<% end %>
</tbody>
</table>
