<br/>
Week

<% (1..14).each do |week_number| %>
  <%= link_to week_number, "/weeks/#{week_number}" %> |
<% end %>
<%#= link_to 15, "/weeks/15" %>

<br/>
<br/>
<table id="ScheduleTable" class="tablesorter">
<thead>
<tr>
  <th class="{sorter: false}"> Date </th>
  <th class="{sorter: false}"> Rot # </th>
  <th class="{sorter: false}"> Teams </th>
  <th class="{sorter: false}"> Neutral? </th>
  <th class="{sorter: false}"> PRs </th>
  <th class="{sorter: false}"> PR Spread </th>
  <th class="{sorter: false}"> My Spread </th>
  <th class="{sorter: false}"> My Total </th>
</tr>
</thead>
<tbody>
<% @games.each do |game| %>
<tr>
<td> <br/> <%= game.date.strftime("%a, %B %d") %> </td>
<td>
<% unless game.visitor_rot == nil %>
  <%= game.visitor_rot %> <br/>
  <%= game.home_rot %>
<% end %>
</td>
<td>
    <a href="/teams/<%= game.visitor.id %>/profiles/<%= game.visitor.profiles.find_by(user_id: current_user.id).id %>/edit"> <%= game.visitor.name %> </a>
 <br/>
    <a href="/teams/<%= game.home.id %>/profiles/<%= game.home.profiles.find_by(user_id: current_user.id).id %>/edit"> <%= game.home.name %> </a>
</td>
<td> <br/> <% if game.neutral == true %> x
     <% end %>
</td>
<td>
<% if game.visitor.has_profile?(current_user) and game.home.has_profile?(current_user) %>
  <%= game.visitor.profiles.find_by(user_id: current_user.id).power_ranking %> <br/>
  <%= game.home.profiles.find_by(user_id: current_user.id).power_ranking %>
<% end %>
</td>
<td>
</br>
<% if game.visitor.has_profile?(current_user) and game.home.has_profile?(current_user) %>
    <%= get_spread(game) %>
<% end %>
</td>
<% if game.has_spread?(current_user) %>
<td>
  <br/>
 <span class="rest-in-place" data-url="/spreads/<%= game.spreads.find_by(user_id: current_user.id).id %>" data-object="spread" data-attribute="proj_spread">
 <% unless game.spreads.find_by(user_id: current_user.id).proj_spread == nil %>
  <%= game.spreads.find_by(user_id: current_user.id).proj_spread %>
 <% else %>
  N/A
 <% end %> </span>
</td>
<td>
  <br/>
<span class="rest-in-place" data-url="/spreads/<%= game.spreads.find_by(user_id: current_user.id).id %>" data-object="spread" data-attribute="proj_total">
<% unless game.spreads.find_by(user_id: current_user.id).proj_total == nil %>
  <%= game.spreads.find_by(user_id: current_user.id).proj_total %>
<% else %>
  N/A
<% end %> </span>
</td>
<% else %>
<td>
  <%= form_for game.spreads.build do |f| %>
    <%= f.text_field :proj_spread %>
</td>
<td>
    <%= f.text_field :proj_total %>
</td>
<td>
    <%= f.hidden_field :game_id, value: game.id %>
    <%= f.submit "Update" %>
</td>
  <% end %>
<% end %>
</tr>
<% end %>
</tbody>
</table>



